<style>
  .modal-content{
    background-color: #212121;
  }
</style>

<!-- Info Modal -->
<div class="modal fade" id="info-modal-{{item.id}}" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{item.description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Buy Modal -->
<div class="modal fade" id="buy-modal-{{item.id}}" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buyModalLabel">{{item.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to buy {{item.name}} for {{item.price}}$ ?
      </div>
      <div class="modal-footer">
        <form method="POST">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
          {{ buy_form.hidden_tag() }}
          <input type="hidden" value="{{item.name}}" name="item_to_buy" />
          {{buy_form.submit(class="btn btn-outline-success")}}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sell Modal -->
<div class="modal fade" id="sell-modal-{{item.id}}" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sellModalLabel">{{item.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to sell {{item.name}} for {{item.price}}$ ?
      </div>
      <div class="modal-footer">
        <form method="POST">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
          {{ sell_form.hidden_tag() }}
          <input type="hidden" value="{{item.name}}" name="item_to_sell" />
          {{sell_form.submit(class="btn btn-outline-success")}}
        </form>
      </div>
    </div>
  </div>
</div>