<!-- Sell Modal -->
<!-- <div class="modal fade" id="sell-modal-{{stock.symbol}}" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sellModalLabel">{{stock.name}}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to sell {{stock.name}} for {{stock.price}}$ ?
      </div>
      <div class="modal-footer">
        <form method="POST">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
          {{ sell_form.hidden_tag() }}
          <input type="hidden" value="{{stock.name}}" name="item_to_sell" />
          {{sell_form.submit(class="btn btn-outline-success")}}
        </form>
      </div>
    </div>
  </div>
</div> -->